body{

	background:url("Imagenes/fondo.jpg"); 


}

header{

	background:#333333;
	width: auto;
	height: 100px; 
	margin-top: auto;
}

h1{
	color:white;
	font-size: 20px;
	font-family: Impact; 
	float: center;
	font-style: oblique;
	margin-bottom: 0;

	
}

.Inicio{

	text-decoration: none;
	border: 1px solid #006699;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
	margin-left: 700px;
	background:#008080;

	




}

.Inicio:hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}

h2{
	color:white;
	font-size: 25px;
	font-family: Impact; 
	float: left;
	font-stretch: ultra-condensed;
	margin-top: initial;




}

.IMG1{

	width: 430px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
	
	border-style: none;

}

#categorias{
	width: auto;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 65px;
	border-style: none;
}

a{
	font-style: oblique;
	font-family: Impact;
	border-style: none;


}

a:hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}

footer{
	width: auto;
	height: 100px;
	text-align: center;
	background: #333333;
}

p{
	width: auto;
	font-size: 20px;
	font-style: oblique;
	text-align: center;
}


#ParrafosF{
	width: 1000px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 25px;
	
	
	
}

.primerF{
	width: 310px;
	height: auto; overflow: hidden;
	
	float: left;
	padding: 10px;
	text-align: center;
	color: #4682b4;
	margin-left: 90px;

}

.parrafo{
	color: #707070;
	text-align: justify;
}
.segundoF{
	width: 310px;
	height: auto; overflow: hidden;
	
	float: left;
	padding: 10px;
	text-align: center;
	color: #4682b4;
	margin-left: 15px;
}

.Fh2{

	color: #707070;

}

.F2h2{
	color: #707070;
}

#Sec_Cv{
	width: 1000px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 65px;
}

.Sec_Cv1{
	width: auto;
	height: auto; overflow: hidden;
	
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
}

.Sec_Cv_Par{
	color: #707070;
	text-align: justify;

}
.Sec_Cv2{
	margin-left: 12px;
	margin-right: 12px;
	
	
	margin-left: 330px;
}

.h2_Cv{

	width: 500px;
	height: auto;
	background: yellow;
	border-radius: 25px;
	text-align: center;
}


#Sec_Per{
	width: 1000px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 65px;
}

.Sec_Per1{
	width: auto;
	height: auto; overflow: hidden;
	
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
	
}

.Sec_Per_Par{
	color: #707070;
	text-align: justify;
}
.Sec_Per2{
	
	
	margin-left: 400px;
	
	
}

.h2_Per{

	width: 600px;
	height: auto;
	background: yellow;
	border-radius: 25px;
	text-align: center;
}

.Sec_Tuto1{
	width: auto;
	height: auto; overflow: hidden;
	
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
	
}

.Sec_Tuto_Par{
	color: #707070;
	text-align: justify;
}
.Sec_Tuto2{
	
	
	margin-left: 400px;
	
	
}

.h2_Tuto{

	width: 600px;
	height: auto;
	background: yellow;
	border-radius: 25px;
	text-align: center;
}